nav {
  margin-top: 2em;
  ul {
    padding: 0;
    text-align: center;
    li {
      display: inline;
      background: #eda;
      padding: 1em;
      border-radius: 20px;
      border: thin solid #777;
      a {
        color: black;
      }
    }
  }
}

body {
  font-family: system-ui, sans-serif;
  background: #ddd;
}

article {
  background: #fff;
  border: thin solid #777;
  border-radius: 20px;
  padding: 1.1em;
  margin: 1em 0;
}
